# .gitignore

# Ignore node_modules folder
node_modules/

# Ignore environment variables and secrets
# .env

# Ignore build folder
/dist
/build

# Ignore logs
*.log
*storybook.log

# Ignore .vscode folder
.vscode/

.DS_Store

.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
logs/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Uploaded files ###
/uploads